.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #E9DAC1;
  font-family: 'Roboto', sans-serif;
}

h1 {
  margin: 30px;
  text-shadow: 5px 0 #0E5E6F;
  font-size: 5rem;
  font-weight: 500;
  color: #54BAB9;
  font-family: 'Federo';
}

h2, h3 {
  margin: 30px;
  font-size: 2rem;
  font-weight: 300;
  color: #54BAB9;
  font-family: 'Merriweather';
  font-size: 2.0rem;
  font-weight: bold;
}

p {
  color: #3A8891;
  font-family: 'Merriweather';

}

img {
  width: 80%;
  background-color: #5837D0;
  border-radius: 30%;
  mix-blend-mode: hard-light;
}


.subBtn{
  margin: 30px;
}

button{
 color: #000202;
 font-size: 2.0rem;
  font-weight: bold;
  font-family: 'Italiana';
  padding: 1% 4%;
  border-style: bold;
  background-color: #EB6440
}

input{
  padding: 1% 2%;
  font-size: 2.0rem;
}

footer {
  margin-top: 5%;
  color: #050202;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

h4 {
  color: #54BAB9;
  font-size: 2rem;
}

p {
  font-size: 2rem;
}
